<div class="section">
  <div class="container">


    <div class="btn-group pull-right" role="group" aria-label="...">
      <button type="button" class="btn btn-info">Steps</button>
      <button type="button" class="btn btn-danger">Calories</button>
      <button type="button" class="btn btn-primary">Sleep</button>
    </div>
    <div class="row">



      <div class="col-md-12">
        <table class="table" style="color: white;border: hidden">
          <tbody>
          <tr>
            <td>
              No.1
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
                <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.2
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.3
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.4
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.5
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.6
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.7
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.8
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.9
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.10
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.11
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              No.12
            </td>
            <td>
              <img src="../assets/exapmle.jpg" class="img-circle" width="60">
            </td>
            <td>
              <h4>
                <b>Xiangyang guo</b>
                <p>572753150@qq.com</p>
              </h4>
            </td>

            <td style="vertical-align: middle">
              <p>1000 steps</p>
            </td>
            <td>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


