<div class="container text-center" >
<div style="width: 70%;min-width: 370px;margin: auto">
  <div style="display: block" class="text-center"><img src="../assets/link.png" style="background: white" class="img-thumbnail" width="60"></div>
  <br>
  <div class="form-horizontal" style="color: white;">
    <div class="form-group">
      <label class="col-sm-4 control-label">Device</label>
      <div class="col-sm-4">
      <select [(ngModel)]="kind" class="form-control">
        <option value="fitbit" >FitBit</option>
        <option value="jawbone">Jawbone</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="bindDevice(kind)" >Bind</button>
    </div>
  </div>
</div>
</div>
