<div class="container">


  <div class="container " id="PricingTab" style="padding-top: 0px">
    <h2>Friends</h2>
    <hr class="White-Yellow">
    <pagination-controls class="center" (pageChange)="p = $event"></pagination-controls>

    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <li *ngFor="let user of users |paginate: { itemsPerPage: 10, currentPage: p }" class="alert alert-dismissable">
            <img alt="dj-set"
                 src="{{user.avatar}}"/>
            <div class="info">

              <div class="row" >
                <div class="col-sm-10">
                  <h2 class="title" style="color: black" style="text-align: left;color: black">{{user.firstName +" "+user.lastName}}</h2>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="deleteFriend(user.email)" >
                  X
                </button>
              </div>
              <div class="row">
                <div class="col-sm-3">Email:</div>
                <div class="col-sm-9">{{user.email}}</div>
              </div>
              <div class="row">
                <div class="col-sm-3">Device:</div>
                <div class="col-sm-9">{{user.provider}}</div>
              </div>
            </div>
          </li>


        </ul>
      </div>
    </div>
  </div>


</div>
