<!--&lt;!&ndash;<div class="panel panel-primary">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="panel-heading">Health Info</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
    <!--&lt;!&ndash;<tr><td>Height</td> <td  >{{webService.healthInfo.height}}</td></tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<tr><td>Weight</td> <td>{{webService.healthInfo.weight}}</td></tr>&ndash;&gt;-->
  <!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div class="panel panel-primary">&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="panel-heading">Health Info</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
    <!--&lt;!&ndash;<tr><td>Height</td> <td  ><input [ngModel]="healthInfo" class="form-control"></td></tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<tr><td>Weight</td> <td>{{healthInfo}}</td></tr>&ndash;&gt;-->
  <!--&lt;!&ndash;</table>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<p style="background-color: white">{{address.province | uppercase}}</p>-->
<!--<div style="background-color: white">-->


    <!--<input [(ngModel)]="aaa">-->

  <!--<p>   {{aaa}}    </p>-->
  <!--<button (click)="toggleSkills()">-->
  <!--</button>-->

<!--</div>-->

<!--<button (click)="add()">Add Point!</button>-->
<!--&lt;!&ndash;<div [(chart)]="chart"></div>&ndash;&gt;-->




