<div class="container">
  <div class="row">
    <div  style="width: 70%;min-width: 370px;margin: auto">
      <div class="alert alert-success alert-purple alert-dismissable" *ngFor="let message of messages">
        <span class="glyphicon glyphicon-certificate"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="deleteMessage(message.uid)">
           NO
        </button>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="addFriend(message.from,message.uid)">
          OK /
        </button>
        <strong>{{message.from}} </strong> wants to be your friend!
      </div>

    </div>
  </div>
</div>
