<div class="container ">
  <div style="width: 70%;min-width: 370px;margin: auto" >
  <div style="display: block" class="text-center"><img src="../assets/homie.jpg" class="img-circle" width="120"></div>
  <div>

    <!-- Search Form -->
    <form role="form">

      <!-- Search Field -->
      <h3 class="text-center" style="color: white">Find friends by email</h3>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" name="search" placeholder="Search" required/>
          <span class="input-group-btn">
                  <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"
                                                                      aria-hidden="true"></span><span
                    style="margin-left:10px;">Search</span></button>
                </span>
        </div>
      </div>

    </form>

    <br>

    <!-- End of Search Form -->

  </div>
  </div>
  <div style="width: 70%;min-width: 370px;margin: auto">
    <table class="table" style="color: white;border: hidden">
      <tr >
        <td>
          First Name
        </td>
        <td>
          Last Name
        </td>
        <td>
          Email
        </td>
      </tr>

      <tr>
        <td>
          Yu
        </td>
        <td>
          Xie
        </td>
        <td>
          134124@qq.com
        </td>
        <td class="pull-right" style="border: hidden">
          <button class="button btn-sm btn-danger ">Add</button>
        </td>
      </tr>
    </table>
  </div>


</div>
