<div class="keep-header">
  <nav class="nav-wrapper-pc-wider">
    <div class="head-right">
      <div class="nav-pc"><a routerLink="/login"><i class="glyphicon glyphicon-user" style="margin-right: 15px"></i><span>Login</span></a></div>
      <div class="nav-pc"><a routerLink="/register"><i class="glyphicon glyphicon-hand-right" style="margin-right: 15px"></i><span>Register</span></a></div>
    </div>
  </nav>
</div>

<header class="video-head-wrap">
  <div class="video-container">
    <video class="video-bg" src="../assets/keepRun.mp4" muted autoplay loop></video>
    <div class="video-control"><img src="../assets/slogan.png"></div>
    <div class="video-bottom">
      <div class="bottom-left">Keep • Running</div>
    </div>
  </div>
</header>
