<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="../assets/background.jpg" alt="Profile image example"/>
    <img align="left" class="fb-image-profile thumbnail" src="../assets/exapmle.jpg"
         alt="Profile image example"/>
    <div class="fb-profile-text" style="color: white">
      <h2>Xiangyang Guo</h2>
      <table >
        <tr> Email : 572753150@qq.com</tr>
        <tr> Device : Fitbit</tr>
      </table>
    </div>
  </div>
</div> <!-- /container -->
